@import url("https://fonts.googleapis.com/css2?family=Raleway:wght@400;700;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital@1&display=swap");
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css";
.header {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 100;
  width: 100%;
  padding: 38px 0 36px;
}
@media (max-width: 575px) {
  .header {
    padding: 21px 0;
  }
}
@media (max-width: 1024px) {
  .header .container {
    max-width: 984px;
  }
}
@media (max-width: 575px) {
  .header .container {
    max-width: 100%;
    padding: 0 20px;
  }
}
.header .header-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.header .header-row::after {
  content: "";
  display: block;
  width: 100%;
  border-bottom: 1px solid #BABBC5;
  position: absolute;
  top: 62px;
  left: 0;
}
@media (max-width: 575px) {
  .header .header-row::after {
    display: none;
  }
}
.header .header-logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-logo img {
  height: 26px;
}
@media (max-width: 575px) {
  .header .header-logo img {
    height: 15px;
  }
}
.header .header-logo img:first-child {
  margin-right: 3px;
}
@media (max-width: 575px) {
  .header .header-logo img:first-child {
    margin-right: 2px;
  }
}
.header .header-burger {
  display: none;
}
@media (max-width: 767px) {
  .header .header-burger {
    display: block;
    width: 24px;
    height: 3px;
    background: #FFFFFF;
    position: relative;
    margin-right: 15px;
  }
  .header .header-burger::before {
    content: "";
    display: block;
    width: 24px;
    height: 3px;
    background: #FFFFFF;
    position: absolute;
    bottom: 8px;
  }
  .header .header-burger::after {
    content: "";
    display: block;
    width: 24px;
    height: 3px;
    background: #FFFFFF;
    position: absolute;
    top: 8px;
  }
}
@media (max-width: 767px) {
  .header .header-menu {
    display: none;
  }
}
.header .header-menu__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.header .header-menu__link a {
  display: block;
  text-align: center;
  width: 134px;
  font: 700 13px "Raleway", sans-serif;
  line-height: 15px;
  text-transform: uppercase;
  color: #FFFFFF;
  position: relative;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media (max-width: 1024px) {
  .header .header-menu__link a {
    width: 112px;
    font-size: 12px;
    line-height: 14px;
  }
}
.header .header-menu__link a::after {
  content: "";
  display: block;
  -webkit-transform: scale(0);
          transform: scale(0);
  background-color: #BABBC5;
  height: 3px;
  width: 100%;
  position: absolute;
  top: 54px;
  left: 0;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.header .header-menu__link a:hover {
  cursor: pointer;
}
.header .header-menu__link a:hover::after {
  -webkit-transform: scale(1);
          transform: scale(1);
}
.header .header-menu__link a:active {
  color: #E71414;
}
.header .header-menu__link a:active::after {
  background-color: #E71414;
}

.firstscreen {
  width: 100%;
  min-height: 100vh;
  padding: 215px 0 120px;
  background: url(../img/background/firstscreen.jpg);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  position: relative;
}
@media (max-width: 1024px) {
  .firstscreen {
    padding: 257px 0 126px;
  }
}
@media (max-width: 767px) {
  .firstscreen {
    padding: 150px 0 52px;
  }
}
@media (max-width: 575px) {
  .firstscreen {
    padding: 103px 0 52px;
    min-height: 0;
  }
}
.firstscreen::after {
  content: "";
  position: absolute;
  z-index: 2;
  top: 0;
  left: 0;
  display: block;
  width: 100%;
  height: 100%;
  background: #252B49;
  mix-blend-mode: normal;
  opacity: 0.8;
}
.firstscreen .container {
  position: relative;
  z-index: 5;
}
.firstscreen .firstscreen-wrapper {
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.firstscreen .firstscreen-title {
  font: 900 64px "Raleway", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
  line-height: 75px;
  margin-bottom: 32px;
}
@media (max-width: 1024px) {
  .firstscreen .firstscreen-title {
    font-size: 48px;
    line-height: 56px;
    margin-bottom: 62px;
    max-width: 775px;
  }
}
@media (max-width: 575px) {
  .firstscreen .firstscreen-title {
    font-size: 37px;
    line-height: 43px;
    margin-bottom: 33px;
  }
}
.firstscreen .firstscreen-subtitle {
  font: 400 18px "Raleway", sans-serif;
  font-size: 24px;
  color: #FFFFFF;
  line-height: 28px;
  max-width: 1000px;
  margin-bottom: 82px;
}
@media (max-width: 1024px) {
  .firstscreen .firstscreen-subtitle {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 92px;
    max-width: 762px;
  }
}
@media (max-width: 575px) {
  .firstscreen .firstscreen-subtitle {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 51px;
  }
}
.firstscreen .firstscreen-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 369px;
  height: 78px;
  font: 900 24px "Raleway", sans-serif;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #FF4343;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media (max-width: 1024px) {
  .firstscreen .firstscreen-link {
    width: 314px;
  }
}
@media (max-width: 575px) {
  .firstscreen .firstscreen-link {
    width: 279px;
    height: 58px;
  }
}
.firstscreen .firstscreen-link:hover {
  background: #E71414;
}
.firstscreen .firstscreen-link:active {
  background: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
}

.benefits {
  padding: 116px 0 43px;
}
@media (max-width: 1024px) {
  .benefits {
    padding: 87px 0 22px;
  }
}
@media (max-width: 575px) {
  .benefits {
    padding: 49px 0 35px;
  }
}

.benefits-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}
@media (max-width: 1024px) {
  .benefits-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 -15px;
  }
}
@media (max-width: 575px) {
  .benefits-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
}

.benefits-card {
  margin: 0 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  max-width: 30%;
  margin-bottom: 91px;
}
@media (max-width: 1024px) {
  .benefits-card {
    margin: 0 10px;
    margin-bottom: 51px;
    max-width: 40%;
  }
}
@media (max-width: 575px) {
  .benefits-card {
    min-width: 280px;
    margin: 0 0 50px;
  }
}

.benefits-image {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100px;
  height: 100px;
  margin-bottom: 58px;
}
@media (max-width: 1024px) {
  .benefits-image {
    width: 68px;
    height: 68px;
    margin-bottom: 47px;
  }
}
@media (max-width: 575px) {
  .benefits-image {
    width: 60px;
    height: 60px;
    margin-bottom: 40px;
  }
}
.benefits-image img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.benefits-title {
  font: 900 24px "Raleway", sans-serif;
  line-height: 28px;
  text-transform: uppercase;
  color: #2D3033;
  margin-bottom: 48px;
}
@media (max-width: 1024px) {
  .benefits-title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 25px;
  }
}
@media (max-width: 575px) {
  .benefits-title {
    margin-bottom: 10px;
  }
}

.benefits-desc p {
  font: 400 18px "Raleway", sans-serif;
  line-height: 21px;
  color: #6C7279;
}
@media (max-width: 1024px) {
  .benefits-desc p {
    font-size: 14px;
    line-height: 16px;
  }
}

.projects-wrapper {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.projects-item {
  width: 25%;
  height: 340px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  overflow: hidden;
  border: 1px solid #FFFFFF;
  position: relative;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.projects-item img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.projects-item:hover img {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
}
@media (max-width: 1024px) {
  .projects-item {
    height: 230px;
  }
}
@media (max-width: 575px) {
  .projects-item {
    max-height: 144px;
    min-width: 50%;
  }
}

.projects-item__mask {
  -webkit-transform: scale(0);
          transform: scale(0);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(255, 67, 67, 0.8);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-transition: 0.3s;
  transition: 0.3s;
}
.projects-item__mask:active {
  background: rgba(185, 12, 12, 0.8);
}

.projects-item__title {
  display: block;
  font: 900 24px "Raleway", sans-serif;
  text-transform: uppercase;
  margin-bottom: 45px;
  color: #FFFFFF;
  cursor: pointer;
}
@media (max-width: 1024px) {
  .projects-item__title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 30px;
  }
}

.projects-item__desc {
  display: block;
  font: 400 18px "Raleway", sans-serif;
  text-transform: capitalize;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .projects-item__desc {
    font-size: 14px;
    line-height: 16px;
  }
}

.projects-item:hover .projects-item__mask {
  -webkit-transform: scale(1);
          transform: scale(1);
}

.team {
  padding: 114px 0;
}
@media (max-width: 1024px) {
  .team {
    padding: 78px 0;
  }
}
@media (max-width: 767px) {
  .team {
    padding: 50px 0;
  }
}
@media (max-width: 575px) {
  .team {
    padding: 35px 0;
  }
}
@media (max-width: 1139px) {
  .team .container {
    max-width: 1109px;
  }
}
@media (max-width: 767px) {
  .team .container {
    max-width: 540px;
  }
}

.team-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}
@media (max-width: 1024px) {
  .team-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    margin: 0 -12px;
  }
}
@media (max-width: 767px) {
  .team-wrapper {
    margin: 0 -15px;
  }
}
@media (max-width: 575px) {
  .team-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    margin: 0;
  }
}

.team-card {
  margin: 0 15px;
  width: 255px;
  text-align: start;
}
@media (max-width: 1139px) {
  .team-card {
    width: 226px;
  }
}
@media (max-width: 1024px) {
  .team-card {
    margin: 0 12px 49px;
    width: 31%;
  }
}
@media (max-width: 767px) {
  .team-card {
    margin: 0 15px 49px;
    width: 40%;
  }
}
@media (max-width: 575px) {
  .team-card {
    min-width: 280px;
    margin: 0;
    margin-bottom: 49px;
  }
}

.team-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 255px;
  margin-bottom: 30px;
}
@media (max-width: 1139px) {
  .team-avatar {
    height: 226px;
  }
}
@media (max-width: 1024px) {
  .team-avatar {
    min-height: 280px;
    margin-bottom: 25px;
  }
}
@media (max-width: 575px) {
  .team-avatar {
    height: 227px;
  }
}
.team-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}

.team-title {
  font: 700 30px "Raleway", sans-serif;
  font-size: 24px;
  line-height: 28px;
  text-transform: capitalize;
  color: #2D3033;
  margin-bottom: 5px;
}
@media (max-width: 1024px) {
  .team-title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 4px;
  }
}

.team-position {
  display: block;
  font: 400 18px "Raleway", sans-serif;
  line-height: 21px;
  text-transform: uppercase;
  color: #FF4343;
  margin-bottom: 18px;
}
@media (max-width: 1139px) {
  .team-position {
    font-size: 17px;
  }
}
@media (max-width: 1024px) {
  .team-position {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 23px;
  }
}
@media (max-width: 575px) {
  .team-position {
    margin-bottom: 39px;
  }
}

.team-desc {
  margin-bottom: 38px;
}
@media (max-width: 575px) {
  .team-desc {
    margin-bottom: 39px;
  }
}

.team-desc p {
  font: 400 18px "Raleway", sans-serif;
  line-height: 21px;
  color: #6C7279;
}
@media (max-width: 767px) {
  .team-desc p {
    font-size: 15px;
    line-height: 18px;
  }
}
@media (max-width: 575px) {
  .team-desc p {
    font-size: 14px;
    line-height: 16px;
  }
}

.team-social {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 0 -3px;
}

.team-social__item {
  margin: 0 3px;
}

.team-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.team-social__link i {
  font-size: 18px;
  color: #C6CBCD;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.team-social__link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 1px solid #FF4343;
}
.team-social__link:hover i {
  cursor: pointer;
  color: #FF4343;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 1024px) {
  .team-social__link {
    width: 33px;
    height: 33px;
  }
}
@media (max-width: 575px) {
  .team-social__link {
    width: 40px;
    height: 40px;
  }
}

.slider-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  max-height: 490px;
  margin-bottom: 31px;
}
@media (max-width: 1024px) {
  .slider-wrapper {
    max-height: 332px;
    margin-bottom: 24px;
  }
}
@media (max-width: 575px) {
  .slider-wrapper {
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
    max-height: none;
  }
}

.slider-photo {
  min-width: 50%;
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.slider-photo img {
  display: block;
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}
@media (max-width: 575px) {
  .slider-photo {
    width: 100%;
    max-height: 212px;
  }
}

.slider-text {
  min-width: 50%;
  padding: 0 129px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: start;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #5C3249;
}
@media (max-width: 1024px) {
  .slider-text {
    padding: 0 88px;
  }
}
@media (max-width: 767px) {
  .slider-text {
    padding: 0 50px;
  }
}
@media (max-width: 575px) {
  .slider-text {
    padding: 30px 20px 95px;
  }
}

.slider-quote {
  font-family: "Cardo", sans-serif;
  font-size: 36px;
  line-height: 49px;
  text-align: left;
  text-transform: capitalize;
  margin-bottom: 35px;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .slider-quote {
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 20px;
  }
}
@media (max-width: 767px) {
  .slider-quote {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 15px;
  }
}
@media (max-width: 575px) {
  .slider-quote {
    text-align: center;
    font-size: 24px;
    line-height: 33px;
    margin-bottom: 35px;
  }
}

.slider-author {
  font: 700 13px "Raleway", sans-serif;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .slider-author {
    font-size: 12px;
    line-height: 14px;
  }
}
@media (max-width: 575px) {
  .slider-author {
    margin: auto;
    text-align: center;
  }
}

.slider-dots {
  margin: auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 170px;
}
@media (max-width: 1024px) {
  .slider-dots {
    width: 148px;
  }
}
@media (max-width: 767px) {
  .slider-dots {
    width: 130px;
  }
}

.slider-dot {
  height: 14px;
  width: 14px;
  border-radius: 50%;
  border: 1px solid #7E5D6F;
}
@media (max-width: 1024px) {
  .slider-dot {
    height: 9px;
    width: 9px;
  }
}
.slider-dot:nth-child(2) {
  background-color: #7E5D6F;
}

.start {
  padding: 138px 0 114px;
}
@media (max-width: 1024px) {
  .start {
    padding: 98px 0 78px;
  }
}
@media (max-width: 575px) {
  .start {
    padding: 57px 0 45px;
  }
}

.start-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
}

.start-title {
  font: 700 30px "Raleway", sans-serif;
  font-size: 30px;
  line-height: 35px;
  margin-bottom: 30px;
  text-transform: capitalize;
}
@media (max-width: 1024px) {
  .start-title {
    font-size: 24px;
    line-height: 28px;
  }
}
@media (max-width: 575px) {
  .start-title {
    font-size: 18px;
    line-height: 21px;
    margin-bottom: 28px;
    max-width: 280px;
  }
}

.start-decs {
  font: 700 30px "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  margin-bottom: 54px;
  text-transform: uppercase;
}
@media (max-width: 1024px) {
  .start-decs {
    font-size: 14px;
    line-height: 16px;
    margin-bottom: 46px;
  }
}
@media (max-width: 575px) {
  .start-decs {
    font-size: 13px;
    line-height: 15px;
    margin-bottom: 16px;
    max-width: 280px;
  }
}

.start-link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 369px;
  height: 78px;
  font: 900 24px "Raleway", sans-serif;
  line-height: 28px;
  text-transform: uppercase;
  color: #FFFFFF;
  background: #FF4343;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
@media (max-width: 1024px) {
  .start-link {
    width: 314px;
    font-size: 18px;
    line-height: 21px;
  }
}
@media (max-width: 575px) {
  .start-link {
    width: 279px;
    height: 78px;
  }
}
.start-link:hover {
  background: #E71414;
}
.start-link:active {
  background: #FF4343;
  -webkit-box-shadow: 4px 4px 30px #FF4343;
          box-shadow: 4px 4px 30px #FF4343;
}

.footer-contacts {
  padding: 71px 0 67px;
  background: #353C65;
}
@media (max-width: 1024px) {
  .footer-contacts {
    padding: 46px 0 43px;
  }
}
@media (max-width: 575px) {
  .footer-contacts {
    padding: 34px 0;
  }
}

.footer-row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  text-align: center;
  margin: 0 -15px;
}
@media (max-width: 575px) {
  .footer-row {
    margin: 0;
    -ms-flex-wrap: wrap;
        flex-wrap: wrap;
  }
}

.footer-item {
  margin: 0 15px;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 27%;
          flex: 0 0 27%;
}
@media (max-width: 575px) {
  .footer-item {
    -webkit-box-flex: 0;
        -ms-flex: 0 0 100%;
            flex: 0 0 100%;
    margin: 0;
  }
  .footer-item:first-child {
    margin-bottom: 69px;
  }
  .footer-item:nth-child(2) {
    margin-bottom: 59px;
  }
}

.footer-title {
  font: 700 30px "Raleway", sans-serif;
  font-size: 18px;
  line-height: 21px;
  text-transform: uppercase;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .footer-title {
    font-size: 14px;
    line-height: 16px;
  }
}

.footer-location__title {
  margin-bottom: 36px;
}
@media (max-width: 1024px) {
  .footer-location__title {
    margin-bottom: 18px;
  }
}
@media (max-width: 575px) {
  .footer-location__title {
    margin-bottom: 34px;
  }
}

.footer-desc {
  font: 400 18px "Raleway", sans-serif;
  line-height: 21px;
  text-transform: capitalize;
  color: #FFFFFF;
}
@media (max-width: 1024px) {
  .footer-desc {
    font-size: 14px;
    line-height: 16px;
  }
}

.footer-social__title {
  margin-bottom: 52px;
}
@media (max-width: 1024px) {
  .footer-social__title {
    margin-bottom: 33px;
  }
}
@media (max-width: 575px) {
  .footer-social__title {
    margin-bottom: 37px;
  }
}

.footer-social__wrap {
  margin: auto;
  width: 170px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media (max-width: 1024px) {
  .footer-social__wrap {
    width: 143px;
  }
}
@media (max-width: 575px) {
  .footer-social__wrap {
    width: 133px;
  }
}

.footer-social__link {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 39px;
  height: 39px;
  border: 1px solid #C6CBCD;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footer-social__link i {
  font-size: 18px;
  color: #C6CBCD;
  -webkit-transition: 0.2s;
  transition: 0.2s;
}
.footer-social__link:hover {
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  border: 1px solid #FF4343;
}
.footer-social__link:hover i {
  cursor: pointer;
  color: #FF4343;
  -webkit-transform: scale(1.1);
          transform: scale(1.1);
}
@media (max-width: 1024px) {
  .footer-social__link {
    width: 33px;
    height: 33px;
  }
}

.footer-about__title {
  margin-bottom: 35px;
}
@media (max-width: 1024px) {
  .footer-about__title {
    margin-bottom: 16px;
  }
}
@media (max-width: 575px) {
  .footer-about__title {
    margin-bottom: 39px;
  }
}

.footer-copyright {
  padding: 24px 0;
  background: #2C3154;
}
@media (max-width: 1024px) {
  .footer-copyright {
    padding: 14px 0;
  }
}
@media (max-width: 575px) {
  .footer-copyright {
    padding: 29px 0;
  }
}

.footer-text {
  max-width: 370px;
  margin: auto;
  font: 400 18px "Raleway", sans-serif;
  line-height: 21px;
  text-transform: capitalize;
  text-align: center;
  color: #808080;
}
@media (max-width: 1024px) {
  .footer-text {
    max-width: 314px;
    font-size: 14px;
    line-height: 16px;
  }
}
@media (max-width: 575px) {
  .footer-text {
    max-width: 280px;
  }
}
.footer-text span {
  color: #FFFFFF;
}

* {
  margin: 0;
  padding: 0;
  list-style: none;
  text-decoration: none;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-family: "Raleway", "Cardo", sans-serif;
}

.container {
  max-width: 1170px;
  margin: auto;
  padding: 0 15px;
}
@media (max-width: 1024px) {
  .container {
    max-width: 984px;
    padding: 0 20px;
  }
}
@media (max-width: 767px) {
  .container {
    max-width: 540px;
  }
}
@media (max-width: 575px) {
  .container {
    width: 100%;
    padding: 0 20px;
  }
}