//миксины и переменные




@import "./variables.scss";
@import "./header.scss";
@import "./firstscreen.scss";
@import "./benefits.scss";
@import "./projects.scss";
@import "./team.scss";
@import "./start.scss";
@import "./footer.scss";

@import "./fonts.scss";
@import "./reset.scss";
@import "https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.15.4/css/all.min.css";

html{
    font-family: 'Raleway', sans-serif;
}
.container {
    max-width: 1170px;
    margin: auto;
    padding: 0 15px;
    @media (max-width: 1024px) {
        max-width: 984px;
        padding: 0 20px;
    }
    @media (max-width: 767px) {
        max-width: 540px;
    }
    @media (max-width: 575px) {
        width: 100%;
        padding: 0 20px;
    }
}

@media (max-width: 1024px) {
    
}
@media (max-width: 767px) {
    
}
@media (max-width: 575px) {
    
}