//шрифты - добавлять color, line-height
$h1: 900 64px 'Raleway', sans-serif;
$h2: 700 36px 'Raleway', sans-serif;
$h3: 700 30px 'Raleway', sans-serif;
$h4: 900 24px 'Raleway', sans-serif;
$h5: 400 18px 'Raleway', sans-serif;
$h6: 700 13px 'Raleway', sans-serif;
//цвет
$nav-active: #E71414;

