.team {
  padding: 114px 0;
}

.team-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 0 -15px;
}
@media (max-width: 1024px) {
  .team-wrapper {
    -ms-flex-pack: distribute;
        justify-content: space-around;
  }
}
@media (max-width: 575px) {
  .team-wrapper {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.team-card {
  margin: 0 15px;
  width: 270px;
  text-align: start;
  max-width: 30%;
  margin-bottom: 91px;
}

.team-avatar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 270px;
  height: 270px;
  margin-bottom: 30px;
}
.team-avatar img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
     object-fit: cover;
}